body {
    font-family: 'Inconsolata', monospace;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dfe5ac+5,eaefb5+23,eaedce+31,eaefb5+45,ebedde+57,ebedde+65,eaefb5+88,eaedce+95&0.69+14,0.48+79,0.91+79,0.91+94 */
    background: -moz-linear-gradient(top, rgba(223, 229, 172, 0.69) 5%, rgba(229, 234, 177, 0.69) 14%, rgba(234, 239, 181, 0.72) 23%, rgba(234, 237, 206, 0.75) 31%, rgba(234, 239, 181, 0.8) 45%, rgba(235, 237, 222, 0.84) 57%, rgba(235, 237, 222, 0.87) 65%, rgba(234, 238, 197, 0.91) 79%, rgba(234, 239, 181, 0.91) 88%, rgba(234, 237, 202, 0.91) 94%, rgba(234, 237, 206, 0.91) 95%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(223, 229, 172, 0.69) 5%, rgba(229, 234, 177, 0.69) 14%, rgba(234, 239, 181, 0.72) 23%, rgba(234, 237, 206, 0.75) 31%, rgba(234, 239, 181, 0.8) 45%, rgba(235, 237, 222, 0.84) 57%, rgba(235, 237, 222, 0.87) 65%, rgba(234, 238, 197, 0.91) 79%, rgba(234, 239, 181, 0.91) 88%, rgba(234, 237, 202, 0.91) 94%, rgba(234, 237, 206, 0.91) 95%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(223, 229, 172, 0.69) 5%, rgba(229, 234, 177, 0.69) 14%, rgba(234, 239, 181, 0.72) 23%, rgba(234, 237, 206, 0.75) 31%, rgba(234, 239, 181, 0.8) 45%, rgba(235, 237, 222, 0.84) 57%, rgba(235, 237, 222, 0.87) 65%, rgba(234, 238, 197, 0.91) 79%, rgba(234, 239, 181, 0.91) 88%, rgba(234, 237, 202, 0.91) 94%, rgba(234, 237, 206, 0.91) 95%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0dfe5ac', endColorstr='#e8eaedce', GradientType=0);
    /* IE6-9 */
}
h1{
    text-align: center;
    padding-top: 30px; 
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    color: rgba(248, 8, 8, 0.527);
}
h2{
    margin: 0 auto;
    max-width: 60%;
    color: antiquewhite;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid  rgb(219, 40, 40);
}
.caption{
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 100;
}
main{
    width: 92%;
    margin: 0 auto;
    /* background: radial-gradient(rgb(126, 125, 125) 1%, rgb(236, 236, 236) 10%); */
    background: linear-gradient(180deg, rgb(126, 125, 125) 1%, rgb(236, 236, 236) 10%, rgb(199, 198, 198), rgb(255, 255, 255));

}
.title{
    background: radial-gradient(rgb(126, 125, 125), rgb(236, 236, 236));
    padding-bottom: 10px;
}
.main-img{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.main-img img{
    width: 100%;
    margin: 0 auto;
    
}
.article-container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.info{
    width: 60%;
    font-size: 1rem;
}
.info p{
    text-indent: 2.5rem;
    line-height: 1.1rem;
    padding: 5px 0;
}
h3{
    font-size: 1.4rem;
    font-weight: 500;
    color: black;
}
ul{
    list-style-image:url(../img/pixel1/02.gif);
    list-style-position: outside;
    margin: 10px 30px; 
    line-height: 1.2rem;
}
li{
    padding-bottom: 1rem;
    padding-left: 10px;
}
.info-img{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}
.info-img img{
    max-width: 100%;
    margin: auto;
}

.article-end{
    text-align: center;
    width: 92%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.name{
    /* font-style: normal; */
    font-weight: 600;
}
footer p{
    width: 90%;
    padding: 10px;
    margin: auto;
    border: 2px solid rgb(158, 158, 158);
    font-size: 1.2rem;
    text-align: right;
}

@media (max-width:900px){
    .article-container{
        flex-direction: column;
        justify-content: space-between;
    }
    .info-img{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .info-img img{
        padding: 5px;
    }
    .info{
        width: 100%;
        font-size: 1rem;
    }
}